
body{
    background-color: #000;
    font-family: 'M PLUS Rounded 1c', sans-serif;;
    color: #fff;
    font-size:1rem;
    
}
#wholething{
    display:flex;
    flex-direction:row;
    text-align:center;
    width:auto;
    height:auto;
    flex-wrap:wrap;
}
.inv{
    flex-grow: 1;
    margin:5px;
    padding: 5px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}
.box{
    justify-content:center;
    flex-grow: 1;
    border-radius: 20px;
    margin:10px 0px;
    padding: 20px;
    background-color:#333;
    display:flex;
    transition:all 0.2s;
    flex-wrap:wrap;
}
.button:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
}
.txt{
    margin:auto;
    padding: auto;
    vertical-align: middle;
}
#controls{
    position:fixed;
    bottom:0px;
    left:0px;
    width:fit-content;
    height:fit-content;
}
.mc{
    flex-grow: 0;

    
}
#currentlyplaying{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom:0px;
    left:0px;
    width: 100vw;
    height:fit-content;
}